.place__paragraph {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.63;
    color: #ffffff;
    margin: 0 0 26px 0;
  }

  .place__paragraph:last-of-type {
    margin: 0;
  }
  
  @media screen and (max-width: 1023px) {
    .place__paragraph {
      font-size: 16px;
      margin-bottom: 25px;
    }
  }
  @media screen and (max-width:767px) {
    .place__paragraph {
      padding-left: 16px;
      padding-right: 16px;
    }
  }