.place__link {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #ffffff;
  }
  
  .place__link:hover {
    opacity: 0.8;
  }
  
  @media screen and (max-width:767px) {
    .place__link {
      padding-left: 16px;
      padding-right: 16px;
    }
  }